/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Body Styles */
body {
    overflow-x: hidden;
    font-family: "Franklin Gothic Heavy", sans-serif;
    color: #F2F4F7;
    background-color: #010110;
}

.parent-container {
    justify-content: center;
    align-items: center;  
    margin-bottom: 20px;    
}

.paddings {
    padding: 15px 5%;
    text-align: start;
    max-width: 1600px;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1600px;
    height: 500px;
    padding: 0 5%;
    gap: 10px;
    position: relative;
    background-color: #010110;
    color: #F2F4F7;
    margin-top: 100px;
}

.carousel-container img {
    border-radius: 8px;
}

.carousel {
    flex: 3;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item.active {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}

.carousel-item.slide-out {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 0;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.carousel-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 8px;
    max-width: 300px;
}

.carousel-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #F2F4F7;
}

.carousel-content p {
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5px;
}

.carousel-button {
    display: inline-block; /* Makes the link behave like a button */
    text-decoration: none; /* Removes the default underline */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6340FF; /* Purple background */
    color: #F2F4F7;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.carousel-button:hover {
    background-color: #4e32d4;
    box-shadow: 0 0 30px 5px rgba(99, 64, 255, 0.6);
}

.carousel-button:hover::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #F2F4F7;
    box-shadow: 0 0 50px 30px #F2F4F7;
    transform: skewX(-20deg);
    animation: sh02 0.5s 0s linear;
}

.carousel-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #F2F4F7;
    box-shadow: 0 0 50px 30px #F2F4F7;
    transform: skewX(-20deg);
}

/* Sidebar Previews */
.carousel-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-top: 0px;
    overflow-y: auto;
    border-radius: 5px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.sidebar-item:hover {
    background-color: #6340FF;
    color: #F2F4F7;
    box-shadow: 0 0 30px 5px rgba(99, 64, 255, 0.7);
}

.sidebar-item:hover::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #F2F4F7;
    box-shadow: 0 0 50px 30px #F2F4F7;
    transform: skewX(-20deg);
    animation: sh02 0.5s 0s linear;
}

/* Active state */
.sidebar-item.active {
    background-color: #6340FF;
    color: #F2F4F7;
}

/* Image styling */
.sidebar-item img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    object-fit: cover;
}

/* Filter Buttons */
.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align buttons */
    width: 100%;
    max-width: 800px;
    margin: auto; /* Center container horizontally */
}



/* Base styling for .btn */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #36454F;
    color: #F2F4F7;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, box-shadow 0.2s ease-in;
    margin: 8px;
}

/* Hover effects */
.btn:hover {
    background-color: #6340FF;
    color: #F2F4F7;
    box-shadow: 0 0 30px 5px rgba(99, 64, 255, 0.7);
}

.btn:hover::before {
    animation: sh02 0.5s 0s linear;
}

/* Active state */
.btn.active {
    background-color: #6340FF;
    color: #F2F4F7;
    box-shadow: 0 0 20px 5px rgba(99, 64, 255, 0.7);
}

/* Pseudo-element for the animation effect */
.btn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #F2F4F7;
    box-shadow: 0 0 50px 30px #F2F4F7;
    transform: skewX(-20deg);
}

/* Projects Section */
.projects-section {
    padding: 0 5%;
    background-color: #010110;
    color: #F2F4F7;
    min-height: 60vh;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Outer card with solid purple background */
.project-card {
    width: 200px;
    height: 300px;
    margin: 15px;
    background-color: #6340FF; /* Solid purple background */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Inner card with a solid background */
.project-card2 {
    background-color: #36454F;
    width: 200px;
    height: 300px; /* Match height to parent */
    border-radius: 5px;
    transition: transform 0.3s ease, border-radius 0.3s ease;
    overflow: hidden;
    position: relative;
}

/* Hover effect for the inner card */
.project-card2:hover {
    transform: scale(0.95); /* Slightly shrink inner card */
    border-radius: 5px; /* Match parent on hover */
}

/* Hover effect for the outer card */
.project-card:hover {
    box-shadow: 0px 0px 40px 10px rgba(99, 64, 255, 0.6); /* Purple glow effect */
    border-radius: 5px;
}

/* Pseudo-element for the glowing streak */
.project-card:hover::before {
    content: '';
    display: block;
    width: 0;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #F2F4F7;
    box-shadow: 0 0 50px 30px #F2F4F7;
    transform: skewX(-20deg);
    animation: sh02 0.5s 0s linear;
}

/* Keyframe animation */
@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}

.project-card.fade-in {
    opacity: 1;
    transform: scale(1); /* Return to normal size */
}

.project-card.fade-out {
    opacity: 0;
    transform: scale(0.8); /* Slightly shrink during fade-out */
}

/* Ensure hidden cards are not part of the layout */
.project-card.hidden {
    display: none;
}

.project-card a{
    text-decoration: none;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    text-align: center;
}

.project-info {
    padding: 15px;
    text-align: start;
}

.project-type {
    color: #999;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.project-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F2F4F7;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .carousel-container {
        flex-direction: column;
        height: auto;
    }
    
    .carousel-sidebar {
        flex-direction: row;
        overflow-x: auto;
    }
}


/* Hamburg */
/* Navbar Toggle (Hamburger Menu) */
.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 15;
}

.navbar-toggle .bar {
    width: 100%;
    height: 3px;
    background: #F2F4F7;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Navbar Links - Default (Desktop View) */
.navbar-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    transition: transform 0.3s ease;
}

/* Navbar Links - Mobile View (Hidden) */
.navbar-links.collapsed {
    display: none;
    flex-direction: column;
    background: rgba(30, 30, 36, 0.9);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-links a {
    text-align: center;
    margin: 0.5rem 0;
}

/* Show Toggle Button for Smaller Screens */
@media (max-width: 768px) {
    .navbar-toggle {
        display: flex;
    }

    .navbar-links {
        display: none;
        transform: translateY(-100%);
    }

    .navbar-links.collapsed {
        display: flex;
        transform: translateY(0);
    }
}
